:root {
    --color-red-100: #FF7979;
    --color-green-100: #38CC8B;
    --color-aquamarine-100: #77E2B3;
    --color-blue-100: #5E54A4;
    --color-dark-blue-100: #3D3B48;
    --color-dark-blue-75: #3D3B48BF;
    --color-grayish-blue-100: #BAB7D4;
    --color-gray-100: #DEDEDE;
    --color-white-100: #FFF;
    --color-shadow-15: #00000026;
    --color-shadow-9: #00000017;

    --ff-base: 'Poppins', sans-serif;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 1.6rem;
    text-align: center;

    background: url('images/bg-intro-mobile.png'), var(--color-red-100);

    display: grid;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}

/* UTILS */

.visually-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hidden {
    display: none;
}

/* INTRO COMPONENT */
.section-intro-component {
    max-width: 37.5rem;
    padding: 8.8rem 2.4rem 6.8rem 2.4rem;
}

/* HEADER SECTION */
.intro-component__header {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    color: var(--color-white-100);
    margin-bottom: 6.4rem;
}

.intro-component__title {
    font-size: 2.8rem;
    font-weight: var(--fw-bold);
    line-height: 3.6rem;
    letter-spacing: -0.029rem;
}

.intro-component__description {
    font-weight: var(--fw-medium);
    line-height: 2.6rem;
}

/* SIGNUP SECTION */
.signup__title {
    font-size: 1.5rem;
    font-weight: var(--fw-regular);
    line-height: 2.6rem;
    letter-spacing: 0.027rem;
    color: var(--color-white-100);

    background-color: var(--color-blue-100);
    border-radius: 1rem;
    padding: 1.8rem 6.7rem;
    box-shadow: 0 0.8rem 0 0 var(--color-shadow-15);

    margin-bottom: 2.4rem;
}

.signup__title-em {
    font-weight: var(--fw-bold);
}

.signup__terms {
    font-size: 1.1rem;
    font-weight: var(--fw-medium);
    line-height: 2.1rem;
    color: var(--color-grayish-blue-100);
    padding: 0 1.5rem;
}

.signup__terms a:link,
.signup__terms a:visited {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--color-red-100);
}

/* SIGNUP FORM */
.container {
    background-color: var(--color-white-100);
    border-radius: 1rem;
    box-shadow: 0 0.8rem 0 0 var(--color-shadow-15);
    padding: 2.4rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}

.signup-form__input {
    font-size: 1.4rem;
    font-weight: var(--fw-semi-bold);
    line-height: 2.6rem;
    letter-spacing: 0.025rem;

    border: 1px solid var(--color-gray-100);
    border-radius: 0.5rem;
    padding: 1.4rem 0rem 1.4rem 1.8rem;

    caret-color: var(--color-blue-100);

    margin-bottom: 1.6rem;
}

.signup-form__input::placeholder {
    color: var(--color-dark-blue-75);
}

.signup-form__input:focus {
    outline: none;
    border: 1px solid var(--color-blue-100);
    color: var(--color-dark-blue-100);
}

.signup-form__input-error {
    border: 2px solid var(--color-red-100);
    padding: 1.3rem 0rem 1.3rem 1.8rem;
    margin-bottom: 0;
    color: var(--color-red-100);
    background: no-repeat top 1.3rem right 1.8rem url("images/icon-error.svg");
}

.signup-form__input-error-msg {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: var(--fw-medium);
    text-align: right;
    color: var(--color-red-100);
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
}

.signup-form__btn {
    font-size: 1.5rem;
    font-weight: var(--fw-semi-bold);
    line-height: 2.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--color-white-100);
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-green-100);
    box-shadow: 0 -0.4rem 0 0 var(--color-shadow-15) inset;
    padding: 1.5rem 0;
    transform: background-color 0.25s ease-out;
}   

.signup-form__btn:active,
.signup-form__btn:hover {
    cursor: pointer;
    background-color: var(--color-aquamarine-100);
    box-shadow: 0 -0.4rem 0 0 var(--color-shadow-9) inset;
}

/* min width 1440px */
@media only screen and (min-width: 90em) {

    body {
        background: url('images/bg-intro-desktop.png'), var(--color-red-100);
    }
    
    /* INTRO COMPONENT */
    .section-intro-component {
        display: flex;
        justify-content: space-between;

        max-width: 144rem;
        padding: 12.1rem 16.5rem;
    }

    /* HEADER SECTION */
    .intro-component__header {
        flex: 0 0 52.5rem;
        align-self: center;
        gap: 3.2rem;

        text-align: left;
        margin-bottom: 0rem;
    }

    .intro-component__title {
        font-size: 5rem;
        font-weight: var(--fw-bold);
        line-height: 5.5rem;
        letter-spacing: -0.052rem;
        text-align: left;
    }

    /* SIGNUP SECTION */
    .section-signup {
        flex: 0 0 54rem;
    }

    .signup__title {
        padding: 1.7rem 0rem;
    }

    .signup__terms {
        line-height: 2.6rem;
    }

    /* SIGNUP FORM */
    .container {
        padding: 4rem;
    }

    .signup-form__input {
        padding: 1.4rem 0rem 1.4rem 3.1rem;    
        margin-bottom: 2rem;
    }

    .signup-form__input-error {
        padding: 1.3rem 0rem 1.3rem 3.1rem;
        margin-bottom: 0;
    }
    
    .signup-form__input-error-msg {
        margin-top: 0.6rem;
        margin-bottom: 1.9rem;
    }
}